<!DOCTYPE HTML>
<html>
	<head>
	<title><%= @text -%></title>
	</head>
	<body>
		<h1><%= @text -%></h1>
		<p>
			<h2>CRITERIA:</h2>
			<ul>
				<li>NO Antibiotics of any kind</li>
				<li>NO Ionophores (examples but not limited to: Bovatec or Rumensin)</li>
				<li>NO Growth hormones, supplemental hormones, no implants</li>
				<li>NO Steroids (examples but not limited to: MGA)</li>
				<li>NO Medicated feed or water</li>
				<li>NO feed containing any animal by-products (examples but not limited to: animal fat, fish oil, urea, dried milk)</li>
				<li>All cattle have been born in the continental U.S.</li>
				<li>ALL cattle have been raised in a humane manner</li>
			</ul>	
		</p>
	</body>
</html>